extend page

block title
  title #{title}

block meta
  meta(property="description" content=desc)
    
  meta(name="og:url"         content=url)
  if (image)
    meta(name="og:image"     content=image)
  meta(name="og:title"       content=title)
  meta(name="og:description" content=desc)

block content
  | !{content}
