extend page

block title
  title #{titleText}

block meta
  meta(property="description" content=descText)
    
  meta(name="og:url"         content=url)
  if (image)
    meta(name="og:image"     content=image)
  meta(name="og:title"       content=titleText)
  meta(name="og:description" content=descText)

block content
  - var github = "https://github.com/iamstarkov/iamstarkov.github.io/edit/premaster/"
  a(href=github + filename).edit-link edit on github
  
  article
    h1 !{titleHtml}
    i: time !{date}
    | !{contentHtml}
