extend page

block title
  title #{title}

block meta
  meta(property="description" content=desc)
    
  meta(name="og:url"         content="url")
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=title)
  meta(name="og:description" content=desc)

block content
  | !{content}
