extend page

block title
  title Vladimir Starkov

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content="site.site_url")
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content
  h1 Vladimir Starkov
  
  ul
    each article in list
      li
        time= article.date + " " 
        a(href=article.url)= article.title
        
