extend page

block title
  title Vladimir Starkov

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block content
  h1 Vladimir Starkov
  
  nav
    a(href="/about/") About
    = " and "
    a(href="https://iamstarkov.com/cv/") CV
    = " • "
    a(href="/rss.xml") Subscribe to RSS
    = " or "
    a(href="https://google.com/?q=site:iamstarkov.com+smth") search "smth"
    br
    a(href="https://twitter.com/iamstarkov") Follow me on Twitter
  br
  
  article
    ul.list
      each article in list
        li.list__item
          a(href=article.url)= article.title.text
          time= article.date.text + " " 
          p.list__item-desc !{article.desc.html}
          
