extend page

block title
  title Vladimir Starkov

block meta
  meta(property="description" content=site.description)

  meta(name="og:url"         content=site.site_url)
  //- meta(name="og:image"       content="http://getbem.com/img/bem_black.png")
  meta(name="og:title"       content=site.title)
  meta(name="og:description" content=site.description)

block content
  h1 Vladimir Starkov
  
  p
    a(href="https://iamstarkov.com/about/") About
    = " • "
    a(href="https://iamstarkov.com/rss.xml") RSS
    = " • "
    a(href="https://google.com/?q=site:iamstarkov.com+smth") Search "smth"
    = " • "
    a(href="https://github.com/iamstarkov/iamstarkov.github.io") Star this site on GitHub
    = " • "
    a(href="https://twitter.com/iamstarkov") Follow me on Twitter
  
  ul
    each article in list
      li
        time= article.date + " " 
        a(href=article.url)= article.title
        
